:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #1a1a1a;
  --ltClr: #f5f5f5;
  --accClr: #ff6f61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginButton {
  background-color: transparent;
  border: none;
}

.signOutButton {
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
  height: 2em;
}

.signOutButton:active,
.signOutButton:hover {
  background-color: grey;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--ltClr);
  min-height: 100vh;
}

header,
footer {
  background-color: var(--dkClr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

footer {
  align-self: end;
}

main {
  flex: 1;
  display: flex;
  background-color: var(--dkClr);
}

#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

header {
  display: flex;
  align-self: first baseline;
  align-items: center;
  width: 100%;
}

.title {
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 10px;
  z-index: 1;
  margin-left: 222px;
}

.title p {
  font-size: 2.5em;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-style: bold;
}

#account {
  display: flex;
  gap: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 100px;
}

#pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1;
}

p {
  z-index: 1;
  font-family: "Roboto Slab", serif;
}

#puttdle {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  height: 100vh;
  align-items: center;
  width: 100%;
}

#info {
  display: flex;
  flex-direction: row;
}

#stats {
  display: flex;
  margin-right: 10px;
}

#question,
#stats {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    height: 110%;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

.question,
.stats {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex; /* Center the modal's content */
  align-items: center;
  justify-content: center;
  z-index: 100;

  animation-name: fadeIn;
  animation-duration: 0.3s;
}
