:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #1a1a1a;
  --ltClr: #f5f5f5;
  --accClr: #ff6f61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginButton {
  background-color: transparent;
  border: none;
}

.signOutButton {
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
  height: 2em;
}
.signOutButton:active,
.signOutButton:hover{
  background-color:grey;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--ltClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: var(--dkClr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

footer {
  align-self: end;
}

main {
  flex: 1;
  display: flex;
  background-color: var(--dkClr);
}

#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: first baseline;
  max-width: 100%;
}

#account {
  display: flex;
  gap: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

#pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1;
}

p {
  z-index: 1;
  font-family: bangers;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 2.5em;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-style: bold;
  margin-bottom: 10px;
}

#puttdle {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#info {
  display: flex;
  flex-direction: row;
}

#stats {
  display: flex;
  margin-right: 10px;
}