.modal-content {
    background-color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 100px;
    border-radius: 20px;
}

.modal-content h1,
.modal-content h2 {
    font-family: "Roboto Slab", serif;
    margin: 10px 0px 10px 0px;
}