.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    margin-bottom: 100px;
}

.welcome h1 {
    margin-bottom: 5px;
}

.welcome p {
    margin-bottom: 5px;
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    margin-bottom: 100px;
}

.playbutton {
    background-color: #61dafb;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}